<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/reclamos.css">
    <title>Free Web</title>
</head>

<body>
    <!-- HTML for header -->
    <header>
        <section>
            <div class="container header-logo">
                <ul>
                    <li>
                        <img src="../images/ic_menu_white.png" alt="">
                    </li>
                    <li>
                        <span style="position: relative; top:-6px;">Hoy</span>
                        <img src="../images/app_bar_more.png" alt="">
                    </li>
                    <li>
                        <img src="../images/lp.png" alt="" width="70px" height="76px">
                    </li>
                    <li>
                        <img src="../images/ic_search_white.png" alt="">
                    </li>
                    <li>
                        <img src="../images/ic_more_vert_white.png" alt="">
                    </li>
                </ul>
            </div>
        </section>
        <nav>
            <div class="container header-menu">
                <ul>
                    <li>
                        <a href="../index.html">Eventos</a>
                    </li>
                    <li>
                        <a href="./404.html">Sitios turísticos</a>
                    </li>
                    <li>
                        <a href="./404.html">Atención ciudadana</a>
                    </li>
                    <li>
                        <a href="./404.html">Acerca de nosotros</a>
                    </li>
                    <li class="active">
                        <a href="./reclamos.html">Quejas y reclamos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- end HTML for header -->
    <!-- HTML for breadcrumbs -->
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">La Paz</a>
            </li>
            <li>Quejas y reclamos</li>
        </ul>
    </div>
    <!-- end HTML for breadcrumbs -->
    <!-- main container -->
    <div class="container">
        <div class="form-container">
            <h2>Formulario de reclamaciones</h2>
            <div class="form-center">
                <div>
                    <h3>Datos personales</h3>
                    <input type="text" required placeholder="Apellidos">
                    <input type="text" required placeholder="Nombres">
                    <input type="text" required placeholder="Teléfono">
                    <small>¿Esta de acuerdo en que nos comuniquemos con usted?</small>
                    <input type="checkbox">
                </div>
                <div>
                    <h3>Reclamo</h3>
                    <textarea rows="17" cols="40"></textarea>
                </div>
            </div>
            <button class="form-button">Enviar</button>
        </div>
    </div>
    <!-- end main container -->
    <!-- HTML for footer -->
    <footer>
        <div class="container footer-menu">
            <ul>
                <li>
                    <img src="../images/lp.png" alt="" width="70px" height="76px">
                </li>
                <li>
                    <h3>Redes sociales</h3>
                    <ul class="sub-menu">
                        <li>
                            <input type="checkbox" id="modal-1">
                            <label class="modal-trigger" for="modal-1">
                                Facebook
                            </label>
                            <div class="modal-content">
                                <p>¡Saliendo de la navegación gratuita!</p>
                                <a href="whttps://www.facebook.com/" class="link">aceptar</a>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="modal-1">
                            <label class="modal-trigger" for="modal-1">
                                Twitter
                            </label>

                        </li>
                        <li>
                            <input type="checkbox" id="modal-1">
                            <label class="modal-trigger" for="modal-1">
                                Whatsapp
                            </label>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Links de interes</h3>
                    <ul class="sub-menu">
                        <li>
                            <a href="">Gobernación</a>
                        </li>
                        <li>
                            <a href="">Judicatura</a>
                        </li>
                        <li>
                            <a href="">Mi teleférico</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Otros complementos</h3>
                    <ul class="sub-menu">
                        <li>
                            <a href="">Preguntas frecuentes</a>
                        </li>
                        <li>
                            <a href="">Comentarios y sugerencias</a>
                        </li>
                        <li>
                            <a href="">Información general</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </footer>
    <!-- end HTML for footer -->
</body>

</html>