.form-container {
  background-color: white;
  padding: 40px 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}

.form-center {
  width: 600px;
  margin: 0px auto 30px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form-center>div:first-child {
  width: 40%;
  padding: 20px;
}

.form-center>div:last-child {
  width: 60%;
  padding: 20px;
}

.form-button {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

.form-button:focus {
  outline: none;
}

/* forms style */

label {
  color: #2e2e2e;
}

input[type=email],
input[type=text],
input[type=password] {
  margin-bottom: 40px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  will-change: background-position;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 96%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

input[type=email]:focus,
input[type=email]:valid,
input[type=text]:focus,
input[type=text]:valid,
input[type=password]:focus,
input[type=password]:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input[type=email]:focus::-webkit-input-placeholder,
input[type=email]:valid::-webkit-input-placeholder,
input[type=text]:focus::-webkit-input-placeholder,
input[type=text]:valid::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=password]:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}

input[type=email]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

input[type=checkbox]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*=lightbox-]) {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*=lightbox-]):before {
  content: "";
  width: 16px;
  height: 16px;
  border: solid 2px #1abc9c;
  border-radius: 3px;
  background: white;
  position: absolute;
}

input[type=checkbox]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*=lightbox-]):after {
  content: "✓";
  color: white;
  background: #1abc9c;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: solid 2px #1abc9c;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  will-change: opacity;
}

input[type=checkbox]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*=lightbox-]):checked:after {
  opacity: 1;
}

input[type=checkbox]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*=lightbox-]):focus {
  outline: none;
}

input[type=radio] {
  position: relative;
  top: 2px;
  left: 2px;
  margin: 0 8px;
  cursor: pointer;
}

.toggle {
  display: none;
}

.toggle:checked+label {
  background: #93e7b6;
}

.toggle:checked+label:after {
  background: #2ecc71;
  margin-left: 18px;
}

.toggle+label {
  position: absolute;
  width: 30px;
  height: 6px;
  margin-top: 12px;
  background: #9e9e9e;
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  will-change: background;
}

.toggle+label:after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #dedede;
  display: inline-block;
  cursor: pointer;
  margin-top: -4px;
  margin-left: -1px;
  transition: all 0.3s ease;
  will-change: background, margin-left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

textarea {
  border: solid 1px #9e9e9e;
  transition: border 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

textarea:focus {
  border: solid 1px #1abc9c;
  outline: none;
}

/*end forms styles */